# Gradle files
.gradle/
build/

# Local configuration files
.idea/

# Android Studio files
*.iml

# Log files
*.log

# Android files
local.properties
secrets.properties
.DS_Store

# Keystore files
*.jks
