<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.anshok.subzy.util.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_classic"
        android:roundIcon="@mipmap/ic_launcher_classic_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Subzy"
        tools:targetApi="31">

        <!-- Основная активность без intent-filter -->
        <activity
            android:name=".presentation.root.RootActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:theme="@style/Theme.Subzy"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>


        <!-- Иконка: Classic -->
        <activity-alias
            android:name=".ClassicAlias"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_classic"
            android:label="@string/app_name"
            android:targetActivity=".presentation.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Neon Red -->
        <activity-alias
            android:name=".NeonRedAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_neon_red"
            android:label="@string/app_name"
            android:targetActivity=".presentation.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Neon Blue -->
        <activity-alias
            android:name=".NeonBlueAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_neon_blue"
            android:label="@string/app_name"
            android:targetActivity=".presentation.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Glitch -->
        <activity-alias
            android:name=".GlitchAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_glitch"
            android:label="@string/app_name"
            android:targetActivity=".presentation.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <!-- Light -->
        <activity-alias
            android:name=".LightAlias"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_light"
            android:label="@string/app_name"
            android:targetActivity=".presentation.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
